@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Universitate Politehnica</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bine ati venit la Universitatea Politehnica</h2>
        <p>
            1920- Începe activitatea Şcolii Politehnice la Timişoara în baza Decretului Regal nr. 4822 din 11.11.1920.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Programe de studii</h2>
        <p>De aici puteti naviga spre programele de studii oferite de facultate</p>
        <p><a class="btn btn-default" href="https://www.upt.ro/Upt-Timisoara_programe-de-studii_32_ro.html">Programe de studii &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Aici gasiti ceritele necesare pentru admitere</h2>
        <p><a class="btn btn-default" href="http://www.upt.ro/img/files/hca/2016/HCA32_07.09.2016.pdf">Download &raquo;</a></p>
    </div>
</div>